<% content_for :title, t("home.title") %>

<%= render "intro" %>

<div id="teaserBox">
  <div class="guest"><%= t("home.teaser") %></div>
  <a href="<%= url_for login_path %>" class="actionButton actionButtonGreen"><span><%= t("home.button_login") %></span></a>
</div>