<% content_for :title, t("home.title") %>

<%= render "intro" %>

<div id="teaserBox">
  <div><%= t("home.teaser") %></div>
  <a href="<%= url_for projects_path %>" class="actionButton"><span><%= t(".projects") %></span></a>
</div>