<% content_for :title, "Impressum" %>

<h2>Impressum</h2>

<div>
  <address>
    Fachhochschule Salzburg GmbH<br/>
    Urstein Süd 1<br/>
    A-5412 Puch/Salzburg<br/>
    Österreich
  </address>
  T +43-(0)50-2211-0<br/>
  F +43-(0)50-2211-1099<br/>
  E-Mail: <a href="mailto:press@fh-salzburg.ac.at">press@fh-salzburg.ac.at</a><br/>
  Web: <a href="http://www.fh-salzburg.ac.at">http://www.fh-salzburg.ac.at</a><br/>
  <br/>
  Fehler und Probleme melden an:<br/>
  <a href="mailto:afritsch.mmt-b2009@fh-salzburg.ac.at">Andreas Fritsch</a><br/>
  <a href="mailto:shentzschel.mmt-b2010@fh-salzburg.ac.at">Sören Hentzschel</a>  
</div>
