<h1>Projekte</h1>

<ul>
  <% @projects.each do |project| %>
      <li>
          <a href="<%= url_for(project) %>"><%= truncate(project.title, :length => 60) %></a><br />
          <%= project.status %><br />
          <%= truncate(project.description, :length => 160) %>
      </li>
  <% end %>
</ul>
