 /*
 *= require jquery-ui
 */

$width:980px;
$box-shadow:0 0 5px #aaa;

@mixin a-block {
  display:block;
  width:100%;
  height:100%;
}

@mixin transition($property:color) {
  -moz-transition-property:$property;
  -moz-transition-duration:.5s;
  -moz-transition-timing-function:ease;
  -webkit-transition-property:$property;
  -webkit-transition-duration:.5s;
  -o-transition-property:$property;
  -o-transition-duration:.5s;
}

html {
  overflow-y:scroll;
  height:100%;
}

body {
  margin:0 auto;
  height:100%;
  background:url('/images/noise.png') repeat #ebebeb;
  color:#333;
  text-shadow:0 1px 0 #ededed;
  font-size:.8em;
  font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;
  text-shadow: #fefefe 1px 1px 0;
}

a {
  color:#666;
  text-decoration:none;
  font-weight:bold;
  @include transition;
  
  &:hover {
    color:#333;
  }
}

img {
  border:none;
}

h1 {
  padding-bottom:5px;
  border-bottom:1px #ccc solid;
  
  > img {
    width:48px;
    height:48px;
    vertical-align:middle;
  }
}

.clear {
  clear:both;
}

.center {
  text-align:center;
}

.small {
  font-size:.8em;
}

#headerButtons {
  float:right;
  margin-top:30px;
}

.headerButton {
  background:url('/images/header_button.png') no-repeat scroll top right;
  display:block;
  float:left;
  height:36px;
  margin-right:8px;
  padding-right:8px;
  @include transition(box-shadow);
  
  &:hover {
    color:#666;
    box-shadow:0 0 5px #feb3b3;
  }
  
  > span {
    display:block;
    line-height:26px;
    background:url('/images/header_button.png') no-repeat scroll top left;
    padding:5px 8px 5px 18px;
  }
}

.actionButton {
  display:block;
  float:left;
  height:42px;
  margin-right:20px;
  padding-right:8px;
  color:#fff;
  font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;
  font-size:.7em;
  text-shadow:#777 -1px -1px 0;
  
  > span {
    display:block;
    line-height:32px;
    margin-left:-8px;
    padding:5px 18px 5px 28px;
  }
  
  &:hover {
    color:#fff;
    text-shadow:#aaa -1px -1px 0;
  }
}

.actionButtonGreen {
  background:url('/images/actionButton_green.png') no-repeat scroll top right;
  
  > span {
    background:url('/images/actionButton_green.png') no-repeat scroll top left;
  }
  
  &:hover {
    background:url('/images/actionButton_green.png') no-repeat scroll bottom right;
  }
  
  &:hover span {
    background:url('/images/actionButton_green.png') no-repeat scroll bottom left;
  }
}

.actionButtonBlue {
  background:url('/images/actionButton_blue.png') no-repeat scroll top right;
  
  > span {
    background:url('/images/actionButton_blue.png') no-repeat scroll top left;
  }
  
  &:hover {
    background:url('/images/actionButton_blue.png') no-repeat scroll bottom right;
  }
  
  &:hover span {
    background:url('/images/actionButton_blue.png') no-repeat scroll bottom left;
  }
}

#outerWrapper {
  position:relative;
  min-height:100%;
}

#innerWrapper {
  margin:0 auto;
  padding-bottom:120px;
  width:$width;
}

#logo {
  float:left;
  width:320px;
  height:100px;
  background:url('/images/logo.png') no-repeat;
  
  &:hover {
    background-position:0 -100px;
  }
  
  > a {
    @include a-block;
  }
}

#content {
  margin-top:20px;
  padding:12px;
}

#intro {
  margin-top:10px;
  line-height:1.5;
  font-size:2.5em;
  font-weight:normal;
  border-bottom:none;
  
  > .highlight {
    color:#a0092d;
  }
}

#teaserBox {
  margin-top:30px;
  padding-top:20px;
  width:100%;
  height:60px;
  background:#fff;
  box-shadow:$box-shadow;
  text-align:center;
  font-family:'Yanone Kaffeesatz','Trebuchet MS',Arial,Helvetica,sans-serif;
  font-size:1.8em;
  
  > div {
    float:left;
    margin-top:5px;
  }
  
  > div.guest {
    width:690px;
  }
  
  > div.user {
    width:630px;
  }
}

#projectlist {
  list-style: none;
  @include transition;
  
  > a {
    @include a-block;
  }
  
  > a:hover {
    background-color: #ddd;
  }
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:90px;
  background:#fff;
  border-top:1px #c2c3c7 solid;
}

#footerContent {
  margin:0 auto;
  width:$width;
}

#fhsLogo {
  float:left;
  margin-top:13px;
  margin-right:50px;
  width:170px;
  height:65px;
  background:url('/images/fhsLogo.png') no-repeat;
  
  > a {
    @include a-block;
  }
}

#footerText {
  float:left;
  margin-top:18px;
  font-family:'Yanone Kaffeesatz','Trebuchet MS',Arial,Helvetica,sans-serif;
  font-size:1.5em;
}

#footerLinks {
  float:right;
  margin-top:38px;
}

.noty_bar {
  margin-top:11px;
}

.noty_message {
  text-shadow:none;
}
