/*
*= require jquery-ui
*= require jquery.noty
*= require noty_theme_default
*= require jquery.fancybox
*/

$width:980px;
$box-shadow:0 0 5px #aaa;

@mixin a-block {
  display:block;
  width:100%;
  height:100%;
}

@mixin transition($property:color) {
  -moz-transition-property:$property;
  -moz-transition-duration:.5s;
  -moz-transition-timing-function:ease;
  -webkit-transition-property:$property;
  -webkit-transition-duration:.5s;
  -o-transition-property:$property;
  -o-transition-duration:.5s;
}

html {
  overflow-y:scroll;
  height:100%;
}

body {
  margin:0 auto;
  height:100%;
  background:url('/images/noise.png') repeat #ebebeb;
  color:#333;
  text-shadow:0 1px 0 #ededed;
  font-size:.8em;
  font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;
  text-shadow: #fefefe 1px 1px 0;
}

a {
  color:#666;
  text-decoration:none;
  font-weight:bold;
  @include transition;

  &:hover {
    color:#333;
  }
}

img {
  border:none;
}

h1 {
  padding-bottom:5px;
  border-bottom:1px #ccc solid;

  > img {
    width:48px;
    height:48px;
    vertical-align:middle;
  }
}

h2 {
  margin:20px 0;
  border-bottom:1px #ccc dotted;
  color:#aaa;
  text-transform:uppercase;
}

.left {
  float:left;
}

.right {
  float:right;
}

.clear {
  clear:both;
}

.center {
  text-align:center;
}

.small {
  font-size:.8em;
}

#headerButtons {
  float:right;
  margin-top:30px;
}

.headerButton {
  background:url('/images/header_button.png') no-repeat scroll top right;
  display:block;
  float:left;
  height:36px;
  margin-right:8px;
  padding-right:8px;
  @include transition(box-shadow);

  &:hover {
    color:#666;
    box-shadow:0 0 5px #feb3b3;
  }

  > span {
    display:block;
    line-height:26px;
    background:url('/images/header_button.png') no-repeat scroll top left;
    padding:5px 8px 5px 18px;
  }
}

.actionButton {
  display:block;
  float:left;
  height:42px;
  margin-right:20px;
  padding-right:8px;
  color:#fff;
  font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;
  font-size:.7em;
  text-shadow:#777 -1px -1px 0;

  > span {
    display:block;
    line-height:32px;
    margin-left:-8px;
    padding:5px 13px 5px 25px;
  }

  &:hover {
    color:#fff;
    text-shadow:#999 -1px -1px 0;
  }
}

.actionButtonGreen {
  background:url('/images/actionButton_green.png') no-repeat scroll top right;

  > span {
    background:url('/images/actionButton_green.png') no-repeat scroll top left;
  }

  &:hover {
    background:url('/images/actionButton_green.png') no-repeat scroll bottom right;
  }

  &:hover span {
    background:url('/images/actionButton_green.png') no-repeat scroll bottom left;
  }
}

.actionButtonBlue {
  background:url('/images/actionButton_blue.png') no-repeat scroll top right;

  > span {
    background:url('/images/actionButton_blue.png') no-repeat scroll top left;
  }

  &:hover {
    background:url('/images/actionButton_blue.png') no-repeat scroll bottom right;
  }

  &:hover span {
    background:url('/images/actionButton_blue.png') no-repeat scroll bottom left;
  }
}

.pagination {
	margin: 10px auto;
	padding: 0;
	list-style: none;
	width: 100%;

	li {
  	float: left;
  	margin-right: 10px;
  }

  li a {
    display: block;
  	text-decoration: none;
  	color: #717171;
  	font: bold 11px Arial, sans-serif;
  	text-shadow: 0px 1px white;
  	padding: 5px 8px;

  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;

  	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
  	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
  	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
  	background: #f9f9f9;

  	background: -webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  	background: -moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  	background: -o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  	background: -ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  	background: linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=0 );
  }

  li a.current {
  	color: white;
  	text-shadow: 0px 1px #3f789f;

  	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
  	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
  	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
  	background: #7cb9e5;

  	background: -webkit-linear-gradient(top, #ae3232 0%, #e24343 100%);
  	background: -moz-linear-gradient(top, #ae3232 0%, #e24343 100%);
  	background: -o-linear-gradient(top, #ae3232 0%, #e24343 100%);
  	background: -ms-linear-gradient(top, #ae3232 0%, #e24343 100%);
  	background: linear-gradient(top, #ae3232 0%, #e24343 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae3232', endColorstr='#e24343',GradientType=0 );
  }

  li a:hover {
  	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
  	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
  	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
  	background: #fff;

  	background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  	background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  	background: -o-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  	background: -ms-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  	background: linear-gradient(top, #fff 0%, #e8e8e8 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e8e8e8',GradientType=0 );
  }

  li a:active,#pagin li a.current:active {
  	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
  	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
  	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
  }

  li a.current:hover {
  	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
  	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
  	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
  	background: #99cefc;

  	background: -webkit-linear-gradient(top, #ae3232 0%, #e24343 100%);
  	background: -moz-linear-gradient(top, #ae3232 0%, #e24343 100%);
  	background: -o-linear-gradient(top, #ae3232 0%, #e24343 100%);
  	background: -ms-linear-gradient(top, #ae3232 0%, #e24343 100%);
  	background: linear-gradient(top, #ae3232 0%, #e24343 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae3232', endColorstr='#e24343',GradientType=0 );
  }
}

.followButton {
  width: 180px !important;
	-moz-box-shadow:inset 0px 1px 0px 0px fff;
	-webkit-box-shadow:inset 0px 1px 0px 0px fff;
	box-shadow:inset 0px 1px 0px 0px #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #888;
	display:inline-block;
	font-family:arial;
	font-size:.9em;
	font-weight:bold;
	padding:5px 10px 3px 10px;
	text-decoration:none;
	text-align:center;
	color:#fff !important;
	text-shadow:1px 1px 0px #333;
}

.followButtonGreen {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3c9f44), color-stop(1, #73b74b) );
	background:-moz-linear-gradient( center top, #3c9f44 5%, #73b74b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c9f44', endColorstr='#73b74b');
	background-color:#3c9f44;


	&:hover {
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #41bf52), color-stop(1, #48c25e) );
  	background:-moz-linear-gradient( center top, #41bf52 5%, #48c25e 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#41bf52', endColorstr='#48c25e');
  	background-color:#41bf52;
	}
}

.followButtonRed {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ae3232), color-stop(1, #e24343) );
	background:-moz-linear-gradient( center top, #ae3232 5%, #e24343 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ae3232', endColorstr='#e24343');
	background-color:#ae3232;

	&:hover {
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d94040), color-stop(1, #df5f5f) );
  	background:-moz-linear-gradient( center top, #d94040 5%, #df5f5f 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d94040', endColorstr='#df5f5f');
  	background-color:#d94040;
	}
}

#outerWrapper {
  position:relative;
  min-height:100%;
}

#innerWrapper {
  margin:0 auto;
  padding-bottom:120px;
  width:$width;
}

#logo {
  float:left;
  width:320px;
  height:100px;
  background:url('/images/logo.png') no-repeat;

  &:hover {
    background-position:0 -100px;
  }

  > a {
    @include a-block;
  }
}

#content {
  margin-top:20px;
  padding:12px;
}

#breadcrumbs {
  float:right;
  margin-top:-10px;

  > li {
    float:left;
    margin-left:20px;
  }

  > li:first-child {
    list-style-type:none;
  }

  > li, > li > a {
    color:#aaa;
  }

  > li > a:hover {
    color:#888;
  }
}

#intro {
  margin-top:10px;
  line-height:1.5;
  font-size:2.5em;
  font-weight:normal;
  border-bottom:none;

  > .highlight {
    color:#a0092d;
  }
}

#teaserBox {
  margin-top:30px;
  padding-top:20px;
  width:100%;
  height:60px;
  background:#fff;
  box-shadow:$box-shadow;
  text-align:center;
  font-family:'Yanone Kaffeesatz','Trebuchet MS',Arial,Helvetica,sans-serif;
  font-size:1.8em;

  > div {
    float:left;
    margin-top:5px;
  }

  > div.guest {
    width:690px;
  }

  > div.user {
    width:600px;
  }
}

#projectlist {
  margin-top:30px;
  list-style-type:none;

  > .seperator {
    clear:both;
    margin-bottom:20px;
    padding-top:10px;
    border-bottom:1px #ccc solid;
  }

  > li > .left {
    width:600px;
  }
}

#commentlist {
  list-style-type:none;
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:90px;
  background:#fff;
  border-top:1px #c2c3c7 solid;
}

#footerContent {
  margin:0 auto;
  width:$width;
}

#fhsLogo {
  float:left;
  margin-top:13px;
  margin-right:50px;
  width:170px;
  height:65px;
  background:url('/images/fhsLogo.png') no-repeat;

  > a {
    @include a-block;
  }
}

#footerText {
  float:left;
  margin-top:18px;
  font-family:'Yanone Kaffeesatz','Trebuchet MS',Arial,Helvetica,sans-serif;
  font-size:1.5em;
}

#footerLinks {
  float:right;
  margin-top:38px;
}

.noty_bar {
  margin-top:60px;
}

.noty_message {
  text-shadow:none;
}

.ui-datepicker-title{
  text-shadow:none;
}

.ui-timepicker-div .ui-widget-header {
  margin-bottom:8px;
}

.ui-timepicker-div dl {
  text-align:left;
}

.ui-timepicker-div dl dt {
  height:25px;
  margin-bottom:-25px;
}

.ui-timepicker-div dl dd {
  margin:0 10px 10px 65px;
}

.ui-timepicker-div td {
  font-size:90%;
}

.ui-tpicker-grid-label {
  background:none;
  border:none;
  margin:0;
  padding:0;
}